*{
    background-color: #e9e1e1;
}

li{
    list-style-type: none;
}

#firstB{
    color: red;
    background-color: #f8eaea;
    border-radius: 10%;
    border-color:#f8eaea ;
    text-align: center;
    height: 40px;
    width: 100px;
    transition: width 1s, height 1s, background-color 2s;
}

#firstB:hover{
    color: white;
    background-color: red;
}

header{
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    padding-top: 1%;
}

#nav{
    display: inline-block;
    display: flex;
    justify-content: end;
    width: 100%;
    justify-content: space-between;
}

#home{
    margin-top: 100px;
    display: flex;
}

.smallBold{
    font-weight: lighter;
    font-family: 'Kaisei Decol';
    font-size: 18px;
}

span{
    color: red;
}

.bigBold{
    font-size: 64px;
}

#deve{
    margin-top: 40px;
}

.upma{
    margin-top: 0px;
}

@keyframes animate {
  
    0% {
        content: "D";
    }
    1.7%{
        content: "De";
    }
    3.4%{
        content: "Dev";
    }
    5.1%{
        content: "Deve";
    }
    6.8%{
        content: "Devel";
    }
    8.5%{
        content: "Develo";
    }
    10.2%{
        content: "Develop";
    }
    11.9%{
        content: "Develope";
    }
    13.6%{
        content: "Developer";
    }
    15.3%{
        content: "Developer.";
    }
    17%{
        content: "Developer";
    }
    18.7%{
        content: "Develope";
    }
    20.4%{
        content: "Develop";
    }
    22.1%{
        content: "Develo";
    }
    23.8%{
        content: "Devel";
    }
    25.5%{
        content: "Deve";
    }
    27.2%{
        content: "Dev";
    }
    28.9%{
        content: "De";
    }
    30.6%{
        content: "D";
    }
    32.3%{
        content: " ";
    }
    34%{
        content: "P";
    }
    35.7%{
        content: "Pr";
    }
    37.4%{
        content: "Pro";
    }
    39.1%{
        content: "Prof";
    }
    40.8%{
        content: "Profe";
    }
    42.5%{
        content: "Profes";
    }
    44.2%{
        content: "Profess";
    }
    45.9%{
        content: "Professi";
    }
    47.6%{
        content: "Professio";
    }
    49.3%{
        content: "Profession";
    }
    51%{
        content: "Professiona";
    }
    52.7%{
        content: "Professional";
    }
    54.4%{
        content: "Professional ";
    }
    56.1%{
        content: "Professional C";
    }
    57.8%{
        content: "Professional Co";
    }
    59.5%{
        content: "Professional Cod";
    }
    61.2%{
        content: "Professional Code";
    }
    62.9% {
        content: "Professional Coder"
    }
    64.6% {
        content: "Professional Coder.";
    }
    66.3% {
        content: "Professional Coder";
    }
    68% {
        content: "Professional Code";
    }
    69.7% {
        content: "Professional Cod";
    }
    71.4%{
        content: "Professional Co";
    }
    73.1%{
        content: "Professional C";
    }
    74.8%{
        content: "Professional ";
    }
    76.5%{
        content: "Professional";
    }
    78.2%{
        content: "Professiona";
    }
    79.9%{
        content: "Profession";
    }
    81.6%{
        content: "Professio";
    }
    83.3%{
        content: "Professi";
    }
    85%{
        content: "Profess";
    }
    86.7%{
        content: "Profes";
    }
    88.4%{
        content: "Profe";
    }
    90.1%{
        content: "Prof";
    }
    91.8%{
        content: "Pro";
    }
    93.5%{
        content: "Pr";
    }
    95.2%{
        content: "P";
    }
    96.9%{
        content:" ";
    }
    98.6%{
        content: 0%;
    }

}
#animate::before{
    content: " ";
    color: black;
    animation-name: animate;
    animation-iteration-count: infinite;
    padding-left: 10px;
    animation-duration: 7s;
    animation-timing-function: ease-out;
    position: relative;
}

.writeUps{
    font-family: 'Kaisei Decol';
}
#moreInfo{
    display: flex;
    justify-content: space-between;
    width: 500px;
}


.skills{
    display: flex;
}

.fwm{
    width: 50px;
    height: 50px;
    color: red;
    background-color: #f8eaea;
    border-radius: 10%;
    border-color:#f8eaea ;
    text-align: center;
    justify-content: space-around;
    margin-left: 10px;
    transition: width 1s, height 1s, background-color 2s;
}
button:hover{
    color: white;
    background-color: red;
}

.pred{
    font-weight: lighter;
    font-family: 'Kaisei Decol';
    font-size: 18px;
    color: red;
}

.Ftd{
    border-radius: 10%;
    background-color: #f8eaea;
    text-align: center;
    border-collapse: collapse;
    padding: 30px;
    text-align: left;
}
.Ftd:hover{
    color:  white;
    background-color: red;
}
.Ficon{
    color: red;
    font-size: 40px;
}
.Mbo{
    margin-bottom: 100px;
}